* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #ec715f;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
.header-left {
	float: left;
	height: 70px;
}
.header-right {
	float: right;
}
.nav-list {
	float: left;
	line-height: 70px;
	padding: 0 30px;
	font-size: 16px;
	list-style: none;
	width: 120px;
}
.nav-list a {
	color: #fafafa;
}

.mv {
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 650px;
}
.mv-text {
	padding-top: 200px;
	text-align: center;
	color: #fafafa;
}
.mv-text h1 {
	font-size: 64px;
	margin-bottom: 10px;
}
.mv-text p {
	font-size: 20px;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
